*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    border: 0px;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
}

#main-img1{
    height: 80vh;
    width: 40vw;
    border: 1px solid white;
    position: absolute;
    left: 20vw;
    bottom: 10vh;
}

.main-img-box{
    width: 10%;
    /*height: 2.5%;*/
    border: 1px solid magenta;
}

.img-wrapper{
    display: flex;
    flex-wrap: wrap;
}
